body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    background-image: url(/static/img/pexels-eberhard-grossgasteiger-691668.jpg);
    background-size: cover;
    background-position: center;

}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
    border: 1px solid black;
    background-color: rgba(220, 220, 220, 0.49);
    border-radius: 20px;
    outline: none;
}

.log {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}


.message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 30px;
}

.submit {
    width: 60px;
    margin-bottom: -10px;
    cursor: pointer;
}

.reg {
    margin-top: 10px;
}

.input_login {
    outline: none;
}