{% extends 'base.html' %}
<title>{% block title %}ToDo{% endblock %}</title>
{% block content %}

<h2 class="h2">Welcome {{ user[1].capitalize() }}!</h2>

<div class="container">
    <form action="/add" method="post">
        <p>Task name <input type="text" name="name" placeholder="Name" required class="input">
        </p>
        <p>Date <input type="date" name="date" required class="input"></p>
        <p>Category <select name="category" required class="input">
                <option value="">Choose Category</option>
                <option value="Job">Job</option>
                <option value="Cleaning">Cleaning</option>
                <option value="Shop">Shop</option>
                <option value="Sport">Sport</option>
            </select></p>
        <p>Notes
            <textarea name="notes" id="" cols="30" rows="10" class="notes"></textarea>
            <input type="submit" value="Add" class="add">
        </p>
    </form>
</div>


{% endblock %}