{% extends 'base.html' %}
<title>{% block title %}View{% endblock %}</title>
{% block content %}

<div class="header">
    <div class="column">Task name</div>
    <div class="column">Date</div>
    <div class="column">Category</div>
    <div class="column">Assigned</div>
    <div class="column">Notes</div>
    <div class="column">Actions</div>
</div>

{% for task in tasks %}
<div class="tasks">
    <div class="column">
        {{ task[1].capitalize() }}
    </div>

    <div class="column">
        {{ task[2]}}
    </div>
    <div class="column">
        {{ task[3].capitalize()}}
    </div>
    <div class="column">
        {{ task[4].capitalize()}}
    </div>
    <div class="column">
        {{ task[5]}}
    </div>
    <div class="column">
        <div class="action">
            <a href="/edit/{{ task[0] }}" class="icon-button">
                <i class="fa fa-edit"></i>
            </a>
            <form action="/delete" method="post" class="delete"
                onsubmit="return confirm('Are you sure you want to delete this task?')">
                <input type="hidden" name="task_id" value="{{ task[0] }}">
                <button type="submit" class="icon-button">
                    <i class="fa fa-trash"></i>
                </button>
            </form>
        </div>
    </div>
</div>

{% endfor %}

<a href="/"><button class="back">Home</button></a>


{{ message }}

{% endblock %}